@use "../core" as c;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: var(--color-text);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  z-index: 1000;
  overflow: hidden;
  transition: height 0.3s ease;

  /* PROGRESS BAR */
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 4px;
    width: var(--progress-width, 0%);
    background: linear-gradient(90deg, #9b5cff, #ff4f81);
    z-index: 9999;
    transition: width 0.1s linear;
  }

  &.menu-open {
    height: 100%;
  }

  &__container {
    @include c.flex-center;
    justify-content: space-between;
    height: 60px;
    padding: 0 var(--spacing-md);
  }

  &__logo {
    font-weight: 700;
    font-size: 1.5rem;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    justify-content: center;

    ul.nav__list {
      display: flex;
      gap: var(--spacing-md);
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .nav__link {
      font-weight: 500;
      color: var(--color-text);
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  .theme-switcher.desktop {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;

    .burger__line {
      width: 100%;
      height: 2px;
      background: var(--color-text);
      transition: 0.3s;
    }

    &.active {
      .burger__line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 6px);
      }
      .burger__line:nth-child(2) {
        opacity: 0;
      }
      .burger__line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -6px);
      }
    }
  }

  .theme-switcher.mobile {
    display: none;
  }

  @include c.respond(mobile) {
    height: 60px;

    &.menu-open {
      height: 100%;
    }

    &__nav {
      position: absolute;
      top: var(--spacing-lg);
      left: 50%;
      transform: translateX(-50%);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: var(--spacing-lg);

      ul.nav__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-md);
      }

      .nav__link {
        padding: var(--spacing-sm) 0;
        font-size: 1.2rem;
      }
    }

    .theme-switcher.desktop {
      display: none;
    }

    .theme-switcher.mobile {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: var(--spacing-md);
    }

    .burger {
      display: flex;
    }
  }
}
