@use "../core" as c;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  // background: var(--gradient-primary);
  color: var(--color-text);
  z-index: 1000;
  @include c.glass(10px, rgba(255, 255, 255, 0.05));

  &__container {
    @include c.flex-center;
    justify-content: space-between;
    padding: var(--spacing-sm) 0;
  }

  &__logo {
    font-weight: 700;
    font-size: 1.5rem;
    // color: var(--color-primary);
  }

  .header__nav {
    display: flex;
    gap: var(--spacing-sm);

    .nav__list {
      display: flex;
      gap: var(--spacing-sm);

      .nav__link {
        font-weight: 500;
        transition: var(--transition);

        &:hover {
          color: var(--color-accent);
        }
      }
    }

    @include c.respond(mobile) {
      position: absolute;
      top: 100%;
      right: 0;
      width: 250px;
      height: 100vh;
      display: none;
      flex-direction: column;
      padding: var(--spacing-sm);
      border-radius: 0 0 0 var(--radius-lg);
      background: rgba(255, 255, 255, 0.5);

      &.active {
        display: flex;
        animation: slideIn 0.3s ease forwards;

        .nav__list {
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }

    @keyframes slideIn {
      0% {
        transform: translateX(100%);
        opacity: 0;
      }
      100% {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }
}

.burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 18px;
  background: none;
  border: none;
  cursor: pointer;

  .burger__line {
    width: 100%;
    height: 2px;
    background: var(--color-text);
    transition: 0.3s;
  }

  @include c.respond(mobile) {
    display: flex;
  }

  &.active {
    .burger__line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6px);
    }
    .burger__line:nth-child(2) {
      opacity: 0;
    }
    .burger__line:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}
