@use "../core" as c;

.services {
  padding: var(--spacing-lg) 0;
  background: var(--color-bg);
  text-align: center;

  .section-title {
    font-size: 2rem;
    margin-bottom: var(--spacing-sm);
  }

  .section-subtitle {
    margin-bottom: var(--spacing-md);
    color: rgba(0, 0, 0, 0.6); // тут залишаємо, бо немає в CSS-змінних
  }

  .services__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--spacing-sm);

    .card {
      padding: var(--spacing-md);
      border-radius: var(--radius);
      @include c.glass(15px);
      box-shadow: var(--shadow-card);
      transition: var(--transition);

      &:hover {
        transform: translateY(-10px);
        box-shadow: var(--shadow-glow);
      }

      h3 {
        margin-bottom: var(--spacing-xs);
        font-size: 1.5rem;
      }
    }
  }
}
