@use "../core" as c;

[data-theme="dark"] {
  body {
    background: c.$color-bg-dark;
    color: c.$color-text-light;
  }

  .header {
    @include c.glass(10px, rgba(18, 18, 18, 0.05));
    // background: rgba(18, 18, 18, 0.85);
    color: c.$color-text-light;
  }

  .services {
    background: #1e1e1e;

    .card {
      background: rgba(255, 255, 255, 0.05);
      color: c.$color-text-light;
    }
  }

  .cta {
    background: c.$gradient-primary;
  }
}
